#add_task_modal.modal.fade{'data-backdrop' => 'static', 'keyboard' => 'false'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
        %h4.modal-title Add Task
      .modal-body
      .modal-footer
        %button.sm-font.btn.btn-danger.btn-sm{type: 'button', 'data-dismiss' => 'modal'} Close
        %button#confirm_add_task.sm-font.btn.btn-primary.btn-sm{type: 'button'} Add Task
