.work-container.container-fluid
  %button#add_task.btn.btn-primary.btn-xs Add Task
  .row
    .col-xs-2
      %label.task-header todo
      #todo_container.task-wrapper
        = haml(:task, :locals => {title: 'test', points: 10, description: 'something', action: 'take'})
    .col-xs-2
      %label.task-header doing
      #doing_container.task-wrapper
    .col-xs-2
      %label.task-header complete
      #complete_container.task-wrapper
    .col-xs-2
      %label.task-header done
      #done_container.task-wrapper

= haml :add_task
