.work-container.container-fluid
  .row
    .col-xs-2
      %label.task-header todo
      #todo_container.task-wrapper
        = haml :task
    .col-xs-2
      %label.task-header doing
      #doing_container.task-wrapper
    .col-xs-2
      %label.task-header complete
      #complete_container.task-wrapper
    .col-xs-2
      %label.task-header done
      #done_container.task-wrapper


