.task-container
  %table.task-main
    %thead.task-title
      %tr.header-row
        %th#task_header title
        %th#points 10
        %th
          #menu.glyphicon.glyphicon-tasks
    %tbody
      %tr.task-description
        %td#task-description do something
      %tr
        %td.checkbox
          %label
            %input{type: 'checkbox'} Complete?

