.task-container
  %table.task-main
    %thead.task-title
      %tr.header-row
        %th#task_header
          = locals[:title]
        %th#points
          = locals[:points]
        %th
          #menu.glyphicon.glyphicon-tasks
    %tbody
      %tr.task-description
        %td#task-description
          = locals[:description]
      %tr
        %td
        %td
        %td
          %label
            %button#task_action.btn.btn-primary.btn-xs
              = locals[:action]

